.panda-bg-info{
    background-color: #fceae8;
}

.slider-section{
    margin-top: 80px;
}

.categories img{
    width: 100px;
}

.see-all-text a{
    text-decoration: none;
    color: orange;
    font-size: 18px;
}
